.kaufman__triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 877px;
    height: 877px;
    transform: translate(210px, 0px);
}

.kaufman__triangle_blue {
    width: 0; 
    height: 0;
    border-left: 435px solid transparent;
    border-right: 435px solid transparent;
    border-top: 877px solid #2f80ed;
    opacity: 0.6;
}