.footer__social-icon {
    width: 16;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.footer__social-icon:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }