.header__main-illustration {
    /*content: url(/images/header-image.png);
    background-image: url();*/
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 2;
}